@import '../../scss/styles';

.blogHtml {
    line-height: 150%;
    padding-bottom: 15vh;
    p{
        font-size: 1rem;
    }
    a{
        color: $acent-0;
    }
    ol {
        padding: 1rem .25rem;
        li{
            margin-left: .75rem;
            padding: 1rem 0;
            p {
                font-weight: 600;
                padding-bottom: .5rem;
            }
            blockquote {
                margin-left: .5rem;
                padding: .5rem 0 .5rem .75rem;
                border-left: .15rem solid $acent-0;
                position: relative;
                overflow: hidden;
                &::after{
                    pointer-events: none;
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 100%;
                    top: 0;
                    left: 0;
                    box-shadow: 0 0 2rem .1rem $acent-0;
                    transition: opacity .3s ease-in-out;
                    opacity: 0;
                    z-index: -5;
                }
                &:hover::after{
                    opacity: 1;
                }
            }
        }
    }
    pre {
        overflow-x: scroll;
        padding: 0;
        display: flex;
        background: $black-1;
        code {
            min-width: 100%;
            color: $white-0;
            padding: .25rem .75rem;
        }
    }
}

@include for-desktop-up {
    .blogHtml {
        ol {
            padding: 1rem .25rem;
        }
    }
}