@import '../../scss/styles';

.blogTemplate {
    .image {
        display: block;
    }
    .details {
        .title {
            font-size: 2rem;
            font-weight: 600;
            color: $acent-0;
            padding-bottom: .5rem;
        }
        .date{
            font-size: .9rem;
        }
        margin-bottom: 2.5rem;
    }
}

@include for-desktop-up {
    .blogTemplate {
        .details {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .title {
                font-size: 3rem;
            }
            .date {
                font-size: 1rem;
            }
        }
    }
}