//** white colors **//
$white-0: #F3F3F3;
$white-0-op25: transparentize($white-0, .75);
$white-0-op50: transparentize($white-0, .5);
$white-0-op75: transparentize($white-0, .25);

//** black colors **//
$black-0: #333333;
$black-1: #464646;

//** grey colors **//
$grey-0: #DADADA;

//** acent colors **//
$acent-0: #01E3BB;

//** event colors **//
$red-0: #EB5757;
$yellow-0: #F2C94C;
$green-0: #27AE60;
