@import '../../scss/styles';

.iconLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &:hover{
        cursor: pointer;
    }
    img{
        max-height: 2rem;
    }
    .hiddenLink {
        a{
            color: $acent-0;
        }
    }
}