@import '../../scss/styles';

.aboutSection {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 20vh 0;
    min-height: 100vh;
    &:first-of-type {
        padding: 10vh 0;
        min-height: 90vh;
    }
    .details {
        width: 60%;
        .title {
            color: $acent-0;
            font-size: 3rem;
            padding-bottom: .5rem;
        }
        .subTitle {
            font-size: 1.25rem;
            color: $white-0;
            opacity: .75;
        }
        .details {
            margin-top: 2rem;
            .detail {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                padding: 1rem;
                font-size: 1.25rem;
                img {
                    height: 1.75rem;
                    width: 1.75rem;
                    object-fit: contain;
                    margin-right: .75rem;
                }
            }
        }
    }
    .hero {
        // padding-top: 10vh;
        width: 40%;
        height: 100%;
        .heroImg {
            width: 100%;
        }
    }
}